body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;

}
a {
  color: inherit;
  text-decoration: none;
}

.header{
  background-color: white;
 
  border-bottom: 2px solid lightgrey;
  width: 100%;
  /*margin-top: -1120px;*/


  /*margin-top: 0; /* remove the previous value */
  
  position: relative;
  top: 75px;
  left: 0;
  z-index: 1; /* set a higher z-index than the sidebar */
 
  
  
  

}
.header h1{
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: absolute;
  top:-40px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
h3{
  font-size: 5x;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 15px;
  margin: 0;
  margin: 0;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-side{
  width: 26%;
  height: 100vh;
  border-right: 1px solid #ddd;
  /*margin-top: 210px;*/

  /* ... other styles ... */
  margin-top: calc(100px + 2px); /* set to the height of the header + border */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* set a lower z-index than the header */

  

}
.app-sidebar-header{
  display: flex;
  display: fixed;
  justify-content: space-between;
  /*padding: 25px;*/
  border-bottom: 2px solid lightgrey;
}
.app-sidebar-header h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.app-side-notes {
  height: calc(100vh - 78px);
  /*overflow-y: scroll;*/
 

  
 
}
.app-side-note {
  padding: 25px;
  cursor: pointer;
}
.app-side-title {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
.app-side-note small{
  display: block;
  color: #999;
}
.app-side-note:hover {
  background: #ddd;
}
.app-side-note.active,
.app-side-note.active small {
  background: lightpink;
  color: white;
}
.app-sidebar-header button{
  background: none;
  
  border: 0;
  margin: 0;
  padding:10px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color:black;
  font-size: 40px;
  

  
}

button:hover {
  color: grey;
}
.app-main-message {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-10%, -90%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}
